<br>
<br>
<div class="container">
    <div class="row" id="main">
      <div class="tracking" id="cart"><div class="tracecart">
          <span class="fa-stack">
      
          
        
          <span class="fa fa-circle-o fa-stack-2x num"></span>
          
          <strong class="fa-stack-1x">
            <i class="fa fa-check-circle num"></i>

          </strong>
      </span>&nbsp;<span class="smallfont" >Cart    --------------------</span></div></div>
      <div  class="tracking"><div class="tracecart" id="tracedelivery">
          <span class="fa-stack">
      
          
        
          <span class="fa fa-circle-o fa-stack-2x num"></span>
          
          <strong class="fa-stack-1x">
            <i class="fa fa-check-circle num"></i>
          </strong>
      </span>&nbsp;<span class="smallfont">Delivery Addess    --------------------</span></div></div>
      <div  class="tracking"><div class="tracecart" id="tracepayment">
          <span class="fa-stack">
      
          
        
          <span class="fa fa-circle-o fa-stack-2x num"></span>
          
          <strong class="fa-stack-1x">
            <i class="fa fa-check-circle num"></i>
          </strong>
      </span>&nbsp;<span class="smallfont">Payment Opations    --------------------</span></div></div>
      <div  class="tracking"><div class="tracecart" id="traceorder">
          <span class="fa-stack">
      
          
        
          <span class="fa fa-circle-o fa-stack-2x num"></span>
          
          <strong class="fa-stack-1x num">
                 4
          </strong>
      </span>&nbsp;<span class="smallfont">Order Confirmation    --------------------</span></div></div>
    </div></div>
        <!-- <div class="col-sm-3">df</div>
        <div class="col-sm-3">df</div>
        <div class="col-sm-3">df</div> -->
       
<br>
<br>
<i class="fa fa-check-circle circle"></i>
<p class="text">Order Placed Succesfully!</p>
<p class="order item"><b>OrderNumber is</b><span class="text-success smallfont"> FGU805PKS</span></p>
    <p class="order smallfont">You will receive a confirmation e-mail shortly</p>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-6 offset-xs-6 card smallfont"><i class="fa fa-home" class="icons"><span class="smallfont"><b>Delivery Address</b></span></i><br>
               <p class="smallfont">Jason Doe<br>
                #861,MJR PLATINA,Kudlu Gate,Industrial Layout,Begur,<br>
                Bangloe-560068,Karnataka<br>
                Mobile:9567035955</div>

        <div class="col-sm-4 card smallfont"><i class="fa fa-cc-mastercard" class="icons"><span class="smallfont">&nbsp;<b>Payment Deatails</b></span></i><br><br>
            <p class="smallfont">Total Amount-<b>10400</b></p>
            <p class="smallfont">Payment method-<b>Axis Debit Card</b></p>
            <p class="smallfont">Payment Status-<b>Paid</b></p></div>

        <div class="col-sm-4 card smallfont"><i class="fa fa-sticky-note-o" class="icons">&nbsp;<span class="smallfont"><b>Delivery Notes</b></span></i><br><br>
            <textarea rows="4" cols="40" name="comment" form="usrform"></textarea></div>
    </div>
    <div class="row">
       
        <table class="table table-borderless">
            <thead>
              <tr>
                <th>Sl.no</th>
                <th>Order No</th>
                <th>Product Details</th>
                <th>Rental Period</th>
                <th>Total Rent</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>37287889927</td>
                <td><b>Macbook Pro 16 GB RAM</b><br>Quantity:&nbsp;&nbsp;Size:<b>13 inch</b></td>
                <td><b>6 Dec'17-12 Dec'17</b></td>
                <td>10400</td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-success col-4 offset-4 btn smallfont">GO TO MY ORDER</button>
    </div>
</div>
