.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
    
}
<<<<<<< HEAD
=======
.Group-19 {
  width: 260px;
  height: 195px;
  object-fit: contain;
}
>>>>>>> 4b2f9bd11c734637f2de625d89995a932f09f4af
.carousel-indicators {
    bottom:-50px;
  }
  button:hover{
      background-color: blueviolet;
  }
  .alerts{
      color:red
  }
  .rent{
      background-color: green;
  }
<<<<<<< HEAD
=======
  .quantity{
    
    width:40%;
    height:30px;
   
  background-color: #fff;
  box-shadow: 1px 14px 17px #e5e5e5;
  -webkit-box-shadow:1px 14px 17px #e5e5e5;

  
  }
  .minus{
    padding-left:10px;
    cursor:pointer;
    font-size:15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  #number{
    width:30px;
    border: none;
    border-color: transparent;
    padding-left:15px;
    font-weight: bold;
  }
>>>>>>> 4b2f9bd11c734637f2de625d89995a932f09f4af
  .carousel-control-next , .carousel-control-prev {
    right: -20%; 
  }
   .carousel-control-prev {
    left: -20%; 
  }
.calender-days{
    width:60px;
    height:60px;background:#669999;
    border:3px solid #c2c2c2;
}
.offer{
<<<<<<< HEAD
  color:green
}

=======
  color:#20c997;
}
.data{
  font-size:15px;
  font-family: 'Times New Roman', Times, serif;
}
.data1{
  
  font-family: 'Times New Roman', Times, serif;
}
>>>>>>> 4b2f9bd11c734637f2de625d89995a932f09f4af
#wrapper {
  max-width: 246px;
  margin: 30px auto;
  padding-top: 150px;
}
html, body{
height:100%;
position:releative;
width:100%;
}
body{
  touch-action:none;
}
<<<<<<< HEAD
.qty{
  width:50%;
  background-color: green;
}
=======

>>>>>>> 4b2f9bd11c734637f2de625d89995a932f09f4af
.card {
  border-radius: 2px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 20px;
  margin-top: 15px;
  width: 100%;
  float: left;
 
  box-shadow: 1px 14px 17px #e5e5e5;
  -webkit-box-shadow:1px 14px 17px #e5e5e5;
}
<<<<<<< HEAD
=======
#pick{
  color:#20c997;  
}
.red{
  color:red;
}
.date{
  width:70px;
}
#quantity{
  font-size:20px;
  font-weight:bold;
  border-radius:10px;
  width:50%;
  background-color:#20c997;
  opacity:0.3;
}
.offerdetail{
  background-color:#ecf1f5;
}
.refund{
  background-color:#ecf1f5;
}
.cart{
  background-color:#20c997;
}
>>>>>>> 4b2f9bd11c734637f2de625d89995a932f09f4af
  @media screen and (min-width: 320px) and (max-width:568px){
    .carousel-control-next , .carousel-control-prev {
        right: 0; 
      }
       .carousel-control-prev {
        left: 0; 
      }
  }
  @media screen and (min-width: 568px) and (max-width:823px){
<<<<<<< HEAD
    /* .input1{
        margin-left:50px;
        margin-top:20px;
    } */
=======
>>>>>>> 4b2f9bd11c734637f2de625d89995a932f09f4af
  }
  @media screen and (min-width: 500px) and (max-width:600px){
    .carousel-control-next , .carousel-control-prev {
      right: 0%; 
    }
     .carousel-control-prev {
      left: 0%; 
    }
  }